.footer {
  min-width: 240px;
  background-color: #2f303a;
  padding: 60px 0;
  &__main {
    @media screen and (max-width: 1199px) {
      text-align: center;
    }
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: baseline;
    }
    @media screen and (min-width: 1200px) {
      justify-content: space-between;
    }
  }
}
.faddress {
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }

  .logo {
    margin: 0 0 20px;
  }
  &__post {
    color: $whiteColor;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    margin-top: 0;
    margin-bottom: 8px;
  }
  &__item {
    display: block;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
}
.fsocial {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
}
.fsocial__title,
.fsign__title {
  color: $whiteColor;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin: 0 0 20px;
  display: block;
}
.fsocial__list {
  display: flex;
  justify-content: center;
}
.fsocial__item:not(:last-child) {
  margin-right: 10px;
}
.fsocial__link {
  display: block;
}
.fsocial__img {
  fill: white;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  display: block;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .fsocial__link:hover &,
  .fsocial__link:focus & {
    background-color: $activeColor;
  }
}
.fsign {
  @media screen and (min-width: 768px) {
  }
}
.fsign__input {
  width: 100%;
  //   margin-right: 12px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: inherit;
  color: inherit;
  padding: 15px 12px;

  @media screen and (max-width: 1199px) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1200px) {
    width: 350px;
    margin-right: 10px;
  }
}

.fsign__button {
  display: inline-flex;
  align-items: center;
  // position: relative;
  // overflow: hidden;
}
// %fsign__button {
//   content: '';
//   display: block;
//   width: 24px;
//   height: 24px;
// }
// .fsign__button::after {
//   @extend %fsign__button;
//   background-image: url('../images/flyW.svg');
//   margin-left: 8px;
//   transform: translate(0px, 0px);
//   transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
// }
// .fsign__button::before {
//   @extend %fsign__button;
//   background-image: url('../images/flyB.svg');
//   position: absolute;
//   top: 50%;
//   right: 0;
//   transform: translate(-80px, 175%);
//   transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
// }
// .fsign__button:hover::after,
// .fsign__button:focus::after {
//   transform: translate(50px, -50px);
// }
// .fsign__button:hover::before,
// .fsign__button:focus::before {
//   transform: translate(-32px, -50%);
// }
.fsign__button:hover .fsign__icon,
.fsign__button:focus .fsign__icon {
  fill: var(--head-collor);
}
.fsign__icon {
  margin-left: 10px;
  fill: white;
  transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1), color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
// .footer__copyright {
//   margin: 0;
//   font-size: 12px;
//   line-height: 2;
//   text-align: center;
//   color: var(--white-color);
//   border-top: 1px solid rgba(255, 255, 255, 0.1);
// }
